footer {
    background-color: #e9c708e5;
    color: #000000;
    padding: 10px;
    text-align: center;
    clear: both;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: hsl(0, 82%, 49%);
    margin: 20px;
    padding: 20px;
}

.header {display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fad400ef;
  padding: 20px 0px;
  color: rgb(13, 26, 216);}

.logo {
  float: right;
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 10;
  padding: 10;
}

.nav a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: bold;
}

.login-img {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  object-fit: cover;
  margin: 20px;
}

.marco {
  margin-left: 70px;
  margin-right: 70px;
}

 .otros_margenes{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 4px solid #4400ff;
    object-fit: cover;
    background-color: black;
    float:left
    margin-right: 20px;
 }

.button_header{
    margin-bottom:px;
    background-color: #f73030;
    font-size: 30px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 5px;
    width: 32%;
    padding: 12px;
    display: inline-block;
    vertical-align: middle;}

.fondo_pantalla {
  min-height: 100vh;
  background: 
    linear-gradient(rgba(5 , 7, 12, 0.75),rgba(5 , 7, 12, 0.75)),
    url("/imagenes/walpaper_tejo.png")center center scroll;
  background-size: cover;
 }

.marcos_img_body{
  width: 800px;
  height: 500px;
  object-fit: cover;
  margin: 100px;
}

.fonts{
  font-size: 30px;
  color: aliceblue;
  margin: 25px;
}

.pos{
  display: flex;             
  align-items: center;       
  gap: 20px;   
}

.titulo{
    font-family:'Calibri;
    display: inline-block;
    vertical-align: middle;
    margin-left: 370px;
    margin-right: 390px;
    margin-bottom: 60px;
    font-size: 80px;
}

